.Asistencia{
    width: 80%;
    margin: 10px auto;
}

.Asistencia>h1{
    text-align: center;
    color: blueviolet;
}

.Asistencia>table{
    width: 100%;
    border-spacing: 10px;
}

td{
    text-align: center;
}

thead{
    background-color: blueviolet;
    color: white;
    font-size: large;
}