<app-header/>
<div class="Asistencia">
    <h1>Lista de estudiantes</h1>
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Facultad</th>
                <th>Proyecto</th>
                <th>Instrumento</th>
                <th>Asistencia</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estudiante of Estudiantes">
                <td> {{ estudiante.codigo}} </td>
                <td> {{ estudiante.nombre}} </td>
                <td> {{ estudiante.apellido}} </td>
                <td> {{ estudiante.facultad}} </td>
                <td> {{ estudiante.proyecto}} </td>
                <td> {{ estudiante.instrumento}} </td>
                <td> <input type="checkbox" id="asistio" name="asistio"> </td>
            </tr>
        </tbody>
    </table>
</div>
