<header>
    <nav>
        <ul class="Lista">
            <li class="Paginas">
                <a routerLink={{link_Actividad}}>Calendario</a>
            </li>
            <li class="Paginas">
                <a routerLink={{link_Seleccion}}>Selección</a>
            </li>
            <li class="Paginas">
                <a routerLink={{link_Asistencia}}>Reporte Asistencia</a>
            </li>
            <li class="Paginas">
                <a routerLink={{link_Liquidacion}}>Liquidación Estudiantes</a>
            </li>
        </ul>
    </nav>
</header>