<header>
    <nav>
        <ul class="Lista">
            <li class="Paginas">
                <a routerLink="/login">Calendario</a>
            </li>
            <li class="Paginas">
                <a routerLink="">Selección</a>
            </li>
            <li class="Paginas">
                <a routerLink="">Reporte Asistencia</a>
            </li>
            <li class="Paginas">
                <a routerLink="">Liquidacion Estudiantes</a>
            </li>
        </ul>
    </nav>
</header>