<header>
    <nav>
        <ul class="Lista">
            <li class="Paginas">
                <a routerLink="/calendario">Calendario</a>
            </li>
            <li class="Paginas">
                <a routerLink="/seleccion">Selección</a>
            </li>
            <li class="Paginas">
                <a routerLink="/asistencia">Reporte Asistencia</a>
            </li>
            <li class="Paginas">
                <a routerLink="/liquidacion">Liquidación Estudiantes</a>
            </li>
        </ul>
    </nav>
</header>