.Login {
    width: 100%;
    align-items: center;

}

.Formulario-Login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    width: 80%;
    height: 100%;
    text-align: center;
}

.Contenido {
    position: relative;
}

.Form-Input {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    padding: .5rem 2rem;
    border-radius: 5px;
    border: none;
    outline: 1px solid var(--color-principal);
    font-family: inherit;
    box-sizing: border-box;
}

.Form-Label {
    transition: all .2s;
    position: absolute;
    top: 5px;
    bottom: 20px;
    left: 1rem;
    padding: 0 .5rem;
    background-color: white;
    color: var(--color-principal);
    font-family: inherit;
    cursor: text;
}


.Form-Input:focus+.Form-Label {
    transform: translateY(-1.2rem);
    font-size: 13px;
    color: var(--color-principal);
}

.Form-Input:not(:placeholder-shown)+.Form-Label {
    transform: translateY(-1.2rem);
    transition: .2s;
    font-size: 13px;
}

.Formulario {
    width: 50%;
    margin: 30vh auto;
    box-shadow: 0px 0px 15px 2px var(--color-principal);
    padding: 10px;
    border-radius: 10px;
}

.Boton {
    display: grid;
    margin: 0 auto;
    color: white;
    background-color: var(--color-principal);
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 8px;
    place-content: center;
    cursor: pointer;
    font-family: inherit;
    font-size: var(--font-size-normal);
}