<div class="Login">
    <form class="Formulario">
        <div class="Formulario-Login">
            <div class="Contenido">
                <input type="email" id="email" class="Form-Input" placeholder=" ">
                <label for="email" class="Form-Label">Correo</label>
            </div>
            <div class="Contenido">
                <input type="password" id="password" class="Form-Input" placeholder=" ">
                <label for="password" class="Form-Label">Contraseña</label>
            </div>
            <button type="submit" class="Boton">Ingresar</button>
        </div>
    </form>
</div>